@media (min-width: 768px) {
    [data-animation] {
        opacity    : 0;
        transform  : translate3d(0, 100px, 0);
        transition : transform 0.7s, opacity 0.7s;
    }

    [data-animation].animate {
        opacity   : 1;
        transform : translate3d(0, 0, 0);
    }
}
